@layer base {
  .ei-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--ei-space-24);
    padding-right: var(--ei-space-24);
  }

  @media (min-width: 768px) {
    .ei-container {
      padding-left: var(--ei-space-48);
      padding-right: var(--ei-space-48);
    }
  }

  @media (min-width: 1024px) {
    .ei-container {
      padding-left: var(--ei-space-96);
      padding-right: var(--ei-space-96);
    }
  }

  .ei-section {
    position: relative;
    width: 100%;
  }
}
